uvicorn==0.11.7
fastapi==0.42.0
pydantic==1.6.2
ujson==1.35
databases==0.2.5
aiosqlite==0.10.0
python-dateutil==2.8.0
python-dotenv==0.10.3
asyncpg==0.18.2
psycopg2==2.8.3
globus_sdk==1.8.0
starlette==0.12.9
email-validator==1.0.5
itsdangerous==1.1.0
Authlib==0.13
httpx==0.7.8
datetime==4.3
